.imgBanner {
  width: 95%;
}

#left {
  background: #00BFFF;
  position: fixed;
}

#left {
  top: 0;
  bottom: 0;
  width: 30px;
}

#left {
  left: 0;
}

table {
  width: 100%;
  padding-left: 100px;
}

tr {
  vertical-align: top;
}

.headingLrg {
  color: #1765BF;
  font-size: 24px;
}
